@use "../abstracts/variables" as *;
@use "../abstracts/extends" as *;
@use "../abstracts/mixin" as *;
#shop{
  .filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
}
